.box{
  width:100%;
  line-height: 80px;
}


.logo{
  width: 120px;
  height: 30px;
  background: rgb(192, 96, 96);
  margin: 25px 24px;
}

.menu{
  line-height: 80px;
}


.right{
  line-height: 80px;
}
