.box{

  width:100%;
  line-height: 40px;
}

.logo{
  width: 120px;
  height: 30px;
  background: rgb(192, 96, 96);
  margin: 5px 24px;
}

.menu{
  line-height: 40px;
}


.right{
  line-height: 40px;
}
