.box{
  width: 400px;
  margin:100px 0px 100px 200px;
  background: #fff;
  min-height: 400px;
}

.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.loginBox{
  margin-top: 20px;
}
