.footer{
  /*background: #313332;*/
  background-image: linear-gradient(to right,#023895,#005BAB);
  /*background: url('@/assets/image/footer.jpg') no-repeat;*/
  /*margin:0 auto;*/
  /*margin-top:10px;*/
  width: 100%;
  /*padding:15px 0;*/
}
.footerHeader{
  background: url('@/assets/image/黄灰渐变.jpg') no-repeat;
  background-size:100% 100%;
  opacity:1;
  width: 100%;
  min-height: 8px;
}
.footerRows{
  margin-top:15px;
  margin-bottom:10px;
}

.footerDesc span{
  color:#fff;
  font-weight: 520;
}

.footerDesc span label{
  color:#fff;
  font-weight: 200;
}

.footer h3{
  font-size:16px;
  color:#fff;
  margin-top:0;
  margin-bottom:5px;
  font-weight:normal;
}

.footer ul{
  padding: 0;
  margin: 0;
}

.footer li{
  font-size:12px;
  color:#fff;
  line-height:30px;
  list-style-type:none;
}

.policeBox{
  text-align:center;
  padding:10px;
  margin-top:10px;
  border-top:1px #5a5c5b solid;
}

.policetelBox{
  color: #fff;
  margin-bottom: 10px;
  font-size:14px;
  line-height:30px;
  text-align: center;
}

.footerimageweixin{
  width: 100px;
  height: 100px;
  background: url('@/assets/image/微信.jpg') no-repeat;
  background-size: 100px;
}
