.box{
  width:100%;
  line-height: 80px;
  min-width: 1200px;
}


.logo{
  width: 120px;
  height: 30px;
  background: rgb(192, 96, 96);
  margin: 25px 24px;
  float: left;
}

.menu{
  line-height: 80px;
  float: left;

}


.pullright{
  float: right;
  margin: 0px 24px;
}
