.box{
  width:100%;
  line-height: 80px;
  min-width: 1200px;

}

.logo{
  width: auto;
  height: 48px;
  margin-right:18px;
  float: left;
}
.image{
  width: auto;
  height: auto;
  max-height: 48px;
}

.menu{
  line-height: 40px;
  float: left;
  margin-top:20px;
  background: #f0f2f5;
}


.pullright{
  float: right;
  margin-left: 20px;
}
