.box{
  width:100%;
  line-height: 40px;
  min-width: 1200px;
}

.left{
  width: auto;
  height: 48px;
  background: rgb(192, 96, 96);
  margin: 5px 24px;
}

.image{
  width: auto;
  height: auto;
  max-height: 48px;
}

.right{
  line-height: 40px;
}

.logo{
  width: 160px;
  height: 48px;
  margin-right:58px;
  float: left;
}

.pullright{
  float: right;
  margin-left: 20px;
}
