.box{
  width:100%;
  line-height: 40px;
  min-width: 1200px;
}

.logo{
  width: 96px;
  height: 48px;
  margin-right:96px;
  float: left;
}

.menu{
  line-height: 40px;
  float: left;
}


.pullright{
  float: right;
  margin-left: 20px;
}
