.box{
  width:100%;
  line-height: 40px;
  min-width: 1200px;
}

.logo{
  width: 160px;
  height: 48px;
  margin-right:58px;
  float: left;
}

.image{
  width: 100%;
  height: auto;
  max-height: 48px;
}

.menu{
  line-height: 40px;
  float: left;
}


.pullright{
  float: right;
  margin-left: 20px;
}
